NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in

NEXT_PUBLIC_STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=whsec_1df4f6740b1809be3d0db57b24ce8c766337dbfc6362c49008e7cd2b1cd26bfd

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

MONGODB_URL=

ECOMMERCE_STORE_URL=https://buyzaar.vercel.app
ADMIN_DASHBOARD_URL=http://localhost:3000